<nav>
  <div class="nav-wrapper bg-dark">
    <img src="/assets/bilimApp.png" width="60" style="vertical-align:middle" alt="Logo of University">
    <a href="/" class="brand-logo">BilimApp</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
      <li class="active"><a href="/">Main</a></li>
      {{else}}
      <li><a href="/">Main</a></li>
      {{/if}}

      {{#if isBlogs}}
      <li class="active"><a href="/blogs">Blogs</a></li>
      {{else}}
      <li><a href="/blogs">Blogs</a></li>
      {{/if}}

      {{#if isAuth}}
      {{#if isAdd}}
      <li class="active"><a href="/add">Write blog</a></li>
      {{else}}
      <li><a href="/add">Write blog</a></li>
      {{/if}}

      {{#if isProfile}}
      <li class="active"><a href="/profile">Profile</a></li>
      {{else}}
      <li><a href="/profile">Profile</a></li>
      {{/if}}

      <li><a href="/auth/logout">Logout</a></li>
      {{else}}
      {{#if isLogin}}
      <li class="active"><a href="/auth/login#login">Login</a></li>
      {{else}}
      <li><a href="/auth/login#login">Login</a></li>
      {{/if}}
      {{/if}}
    </ul>
  </div>
</nav>