<h4>Edit {{blog.title}}</h4>

<div class="edit-form">
  <form action="/blogs/edit" method="POST" class="blog-form">
    <div class="input-field">
      <input id="title" name="title" type="text" class="validate" required value="{{blog.title}}">
      <label for="title">Title</label>
      <span class="helper-text" data-error="Enter title"></span>
    </div>

    <div class="input-field">
      <input id="desc" name="desc" type="text" class="validate" required value="{{blog.desc}}">
      <label for="desc">Brief explanation</label>
      <span class="helper-text" data-error="Enter description"></span>
    </div>

    <div class="form-group mb-0 froala-text">
      <label class="label-text" for="content">Content :<span class="required">*</span></label>
      <textarea id="text" name="content" rows="5" class="form-control editor">{{blog.content}}</textarea>
    </div>

    <div class="input-field">
      <input id="img" name="img" type="text" class="validate" required value="{{blog.img}}">
      <label for="img">URL of image</label>
      <span class="helper-text" data-error="Put URL of image"></span>
    </div>


    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{blog.id}}">

    <button type="submit" class="btn btn-primary edit">Edit blog</button>

  </form>

  <form action="/blogs/remove" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{ blog.id }}">
    <button type="submit" class="btn btn-primary remove">Remove blog</button>
  </form>
</div>