<h5>Trending on BilimApp</h5>

{{#if blogs.length}}
<div class="row" style="margin: 0%;">
  {{#each blogs}}
  <div class="card mb-4 ">
    <div class="row " style=" margin: 0%;">
      <div class="col-md-8 ">

        <div class="card-body" style="padding: 0.3rem;">
          <a href="/blogs/{{id}}" class="content-title">{{title}}</a>
          <p class="description">{{desc}}</p>
          <div class="card-author d-flex justify-content-between">

            {{#if userId.avatarUrl}}
            <p> <img src="/{{userId.avatarUrl}}" alt="Profile" class="profile"> {{userId.name}} {{userId.surname}}</p>
            {{else}}
            <p> <img src="/assets/noProfile.png" alt="Profile" class="profile"> {{userId.name}} {{userId.surname}}</p>

            {{/if}}
            <p class="card-text"><small class="text-muted">Created: {{dateAdded}}</small></p>

          </div>

          <div class="card-action actions">
            <a href="/blogs/{{id}}">Read more</a>
            {{#if @root.isAuth}}


            {{#ifeq userId._id @root.userId}}
            <a href="/blogs/{{id}}/edit?allow=true">Edit</a>
            {{/ifeq}}

            <span class="iconify" style="width: 24px; height: 24px;" data-icon="mdi:bookmark-outline"
              data-inline="false"></span>

            {{/if}}
          </div>
        </div>

      </div>
      <div class="col-md-4" style="margin: auto;">
        <img class="card-img" src="{{img}}" alt="{{title}}">
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<p>No any blogs</p>
{{/if}}